#container{
    background-color: rgb(147, 137, 255);
    border: 2px solid rgb(118, 110, 213);
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
img{
    width: 100px;
    height: 100px;
}
div{
    background-color: rgb(216, 213, 255);
    display: flex;
    
}